@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

.text-logo-header {
	font-weight: bold;
	font-size: calc(1.325rem + .9vw);
	color: white;
	text-decoration: none;
	padding-left: 7px;
}

.text-logo-header:hover {
	color: goldenrod;
}

.navbar-brand {
	display: flex;
	align-items: center;
}

.container-navbar {
	text-align: center;
	justify-content: center;
}


.main-menu {
	display: flex;
	width: 100%;
	z-index: 99;
	margin: 0;
	padding: 0;
	justify-content: flex-end;
	font-size: 1.1rem;
}

li.menu-item {
	display: flex;
	margin: .75rem;
	position: relative;
	bottom: 10px;
}

li.menu-item a {
	padding-top: .5rem;
	padding-left: .5rem;
	color: white;
	text-decoration: none;
}

li.menu-item a:hover {
	color: goldenrod;
}

form {
	padding: 50px 20px;
	background-color: #381b1ba6;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}

h1 {
	text-align: center;
	padding: 12px;
	color: rgb(206, 203, 203)
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}



.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}

.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}

.blanco {
	color: white;
	text-align: start;
}

body {
	background-image: url(../img/comida-saludable.jpg);
	width: 100%;
	height: 100%vh;
	background-size: cover;
	color: white;

}

.mensaje {
	width: 100%;
	max-width: 350px;
	margin: auto;
	margin-top: 20px;
	text-align: left;
	padding: 6px;
	color: red;

}

h6 {
	text-align: center;
	padding: 12px;
	color: rgb(206, 203, 203);
	line-height: 20px;
}

.gabo {
	padding: 50px 20px;
	background-color: #381b1ba6;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px;
	line-height: 20px;
}

.login-box {
	background-image: url(../img/comida-saludable.jpg);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

@media only screen and (min-width:360px) and (max-width:757px) {
	form {
		padding: 50px 20px;
		background-color: #381b1ba6;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 70px;
		padding-top: 28px;
		margin-bottom: 30px
	}

	input {
		width: calc(100% - 20px);
		padding: 9px;
		margin: auto;
		margin-top: 12px;
		font-size: 16px
	}

	body {
		background-image: url(../img/comida-saludable.jpg);
		max-width: 100%;
		max-height: 200%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		color: white;

	}

}

@media only screen and (min-width:280px) and (max-width:757px) {
	form {
		padding: 50px 20px;
		background-color: #381b1ba6;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 70px;
		padding-top: 28px;
		margin-bottom: 30px
	}

	input {
		width: calc(100% - 20px);
		padding: 9px;
		margin: auto;
		margin-top: 12px;
		font-size: 16px
	}

	body {
		background-image: url(../img/comida-saludable.jpg);
		max-width: 100%;
		max-height: 200%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		color: white;

	}

}

@media only screen and (min-width:760px) and (max-width:1180px) {
	form {
		padding: 50px 20px;
		background-color: #381b1ba6;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 70px;
		padding-top: 28px;
		margin-bottom: 30px
	}

	input {
		width: calc(100% - 20px);
		padding: 20px;
		margin: auto;
		margin-top: 12px;
		font-size: 16px
	}

	body {
		background-image: url(../img/comida-saludable.jpg);
		max-width: 100%;
		max-height: 200%;
		background-attachment: fixed;
		background-repeat: no-repeat;
		color: white;

	}

	.caja {
		margin-top: 30%;
	}

	header h1 {
		margin-left: 10px;
		align-items: center;
		width: calc(20% - 100px);
		font-family: montez;
		font-size: 80px;
	}
}