:root {
    --color-dark: #343a40;
    --color-dark-x: #2d343f;
    --color-dark--xx: #1f232b;
    --color-light: #ffffff;
    --color-grey: #f5f6f8;
}

body {
    font-family: 'Poppins', sans-ser;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--color-grey);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.bg-light {
    background-color: var(--color-light) !important;
}

.bg-dark {
    background-color: var(--color-dark);
}

.p-6 {
    padding: 2rem 8rem;
}

.p-7 {
    padding: 6rem 6rem;
}

.validate-input {
    position: relative;
}

.contact-box {
    padding: 3rem;
}

.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
}

.btn-outline-dark {
    border: 2px solid var(--color-dark--xx);
    background-color: transparent;
}


.form-control {
    /*background-color: var(--color-dark--xx);*/
    border: 2px solid var(--color-dark--xx);
    border-radius: 10px;
    padding: 0.8rem;
    display: inline-block;
    width: 300px;
    margin-left: 15px;
    margin-top: 0px;
}

.inputAlinear {
    border: 2px solid var(--color-dark--xx);
    border-radius: 9px;
    padding: 0.6rem;
    width: 280px;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 10px;
}


/*.register-bg{
    background-image:  url("https://cdn-icons-png.flaticon.com/512/306/306232.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}*/

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media(max-width:1200px) {
    .register-bg {
        min-height: 50vh;
    }


}
